.heading{
    text-align: center;
    background-color: red;
}

.image{
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body{
    background-color: yellow;
}

.writing{
    font-size: 18px;
    font-family: Arial, "Times New Roman", sans-serif;
}